@font-face {
    font-family: 'Forum';
    src: url('/assets/fonts/Forum.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
